@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Raleway, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
}
body {
  min-height: 100vh;
  background-color: hsl(240, 50%, 90%);
}

/*******************
  header and search
*******************/

header {
  background-color: hsl(259, 77%, 70%);
  color: hsl(20, 40%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 15vh;
  font-size: 1rem;
  border-bottom: 0.5rem solid hsl(268, 93%, 24%);
}
header h1,
header form {
  padding: 0.6rem;
}
header h1 {
  text-shadow: 2px 2px 2px hsl(268, 93%, 24%);
}
header form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
#search {
  font-size: 1rem;
  line-height: 1;
  padding: 0.25rem 1rem;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  min-width: 20ch;
}
#btnSearch .iconic {
  height: 22px;
  width: 22px;
}
#btnSearch .iconic * {
  stroke: hsl(20, 10%, 60%);
  fill: hsl(20, 10%, 30%);
}
#btnSearch.pulse {
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: backwards;
}
#btnSearch {
  border-radius: 0.5rem;
  margin-left: -2.2rem;
  border: none;
  background-color: white;
}

/*******************
  content area
*******************/

#instructions {
  display: none;
  text-align: center;
}
#actors {
  display: none;
}
#media {
  display: none;
  overflow: auto;
}

#instructions.active,
#actors.active,
#media.active {
  display: block;
  align-content: center;
}

#instructions h2,
#actors h2,
#media h2 {
  font-weight: 500;
  font-size: 2rem;
  color:  hsl(268, 93%, 24%);
  padding: 1rem;
  text-align: center;
}

#instructions p{
  font-size: 0.8rem;
  font-weight: 400;
}

#tmdbLogo{
  width: 25%;
  margin-top: 16rem;
  margin-bottom: 1rem;
}

.hidden{
  display: none;
}

.content p {
  padding: 0 1rem;
  margin: 1rem 0;
  color:  hsl(268, 30%, 50%);
}

.apiContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}
.card {
  width: auto;
  height: 150px;
  background-color: hsl(259, 77%, 70%);
  border: 3px solid hsl(268, 93%, 24%);
  display: grid;
  grid-template-areas: 'avatar name' 'avatar email' 'avatar subInfo';
  grid-template-columns: 30% 80%;
  border-radius: 10px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}
.card .avatar {
  grid-area: avatar;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(268, 93%, 24%);
}
.avatar img {
  width: 4.5rem;
  height: auto;
  border: 3px solid hsl(259, 77%, 70%);
  border-radius: 10px;
}
.card .name {
  grid-area: name;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  margin-top: 0rem;
  margin-bottom: 0;
  padding-bottom: 0;
  max-width: 230px;
}
.card .subInfo {
  grid-area: email;
  font-size: 0.7rem;
  margin-top: 0;
  padding: 0rem 1rem;
}

.invalid{
  font-size: 0.8rem;
}

#btnBack{
  width: 7rem;
  height: 2rem;
  background-color: hsl(268, 53%, 74%);
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#btnBack:hover{
  background-color: hsl(259, 77%, 70%);
}

/***********************
  Effects
***********************/
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.64;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/************************
  Media Queries
************************/
@media all and (min-width: 800px) {
  header {
    font-size: 1.2rem;
    flex-direction: row;
  }
  #search {
    min-width: 35vw;
    max-width: 40vw;

  }
  #actors.active,
  #media.active {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #instructions.active,
  #actors.active,
  #media.active {
    display: block;
    align-content: center;
  }

  #instructions h2,
  #actors h2,
  #media h2{
    font-size: 2.5rem;
  }

  #instructions p{
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  #tmdbLogo{
    width: 25%;
    margin-top: 20rem;
    margin-bottom: 2rem;
  }

  .apiContent {
    gap: 0rem;
    margin-top: 0.2rem;
    margin-bottom: 3rem;
  }
  .card {
    width: 40vw;
    height: 20vw;
    margin: 1rem;
  }

  .avatar img {
    width: 90%;
  }
  .card .name {
    font-size: 1.2rem;
    padding: 0.1rem 1rem;
    margin-top: 0.8rem;
    max-width: 250px;
  }
  .card .subInfo {
    font-size: 0.8rem;
  }

  #btnBack{
    width: 8rem;
    height: 2.5rem;
    position: absolute;
    top: 38rem;
  }


}
@media all and (min-width: 1200px) {
  header {
    font-size: 2rem;
  }
  #search {
    font-size: 1.5rem;
  }
  #btnSearch .iconic {
    height: 42px;
    width: 42px;
  }
  #actors.active,
  #media.active {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #instructions.active{
    overflow: hidden;
  }

  #actors h2,
  #media h2 {
    /* for the wider screens */
    font-size: 12rem;
    color: hsla(259, 77%, 70%, 0.5);
    position: relative;
    writing-mode: vertical-lr;
  }

  #instructions h2{
    font-size: 3.5rem;
  }

  #instructions p{
    font-size: 1.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  #tmdbLogo{
    width: 15%;
    margin-top: 19rem;
    margin-bottom: 2rem;
  }

  .apiContent {
    gap: 0rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .card {
    width: 30vw;
    height: 30vh;
    margin: 1rem;
  }

  .avatar img {
    width: 90%;
  }
  .card .name {
    font-size: 1.3rem;
    padding: 0.1rem 1rem;
    margin-top: 1.6rem;
    min-width: 10%;
    max-width: 80%;
  }
  .card .subInfo {
    font-size: 1.1rem;
  }

  .invalid{
    font-size: 1rem;
  }

  #btnBack{
    width: 10rem;
    height: 3rem;
    position: absolute;
    top: 42rem;
  }
}